* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    max-width: 1046px;
    margin: auto;
}
.container2 {
    max-width: 1175px;
    margin: auto;
}
header {
    background: url(../Task4-2/images/sky.jpg);
    background-size:cover;
    
}
main {
    margin-left: 125px;
}
h1 {
    padding-top: 100px;
    font-weight: 500;
    font-size: 54px;
    color: #003395;
}
.headernote {
    padding: 40px 0px 100px 0px;
    font-weight: 700px;
    font-size: 18px;
    color: #000000;
}
.back {
    background-color: #003395;
    background-size:contain ;
    line-height: 70px;
    
}
.back__links {
    max-width: 1046px;
    margin: auto;
}
.back a {
    text-decoration: none;
    display: inline-block;
    padding-right: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 207.9%;
    letter-spacing: 2px;
    color: #FFFFFF;
    
}
.block1 {
    display: inline-block;
    max-width: 754px;
}
.text {
    margin: auto;
    
}
h2 {
    border-top: 2px solid #003395;
    border-bottom: 2px solid #003395;
    color: #003395;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    padding: 5px;
    margin-top: 34px;
}
p {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #30233D;
    padding-top: 20px;
    
}
.news {
    display: inline-block;
    border: 2px solid #33008D;
    box-sizing: border-box;
}
.news p {
    font-weight: 400;
    font-size: 16.2px;
    padding: 0 19px 20px 19px;
}

h3 {
    background: #24B0FF;
    font-size: 27px;
    line-height: 32px;
    margin: 19px;
    padding: 15px;
    color: #FFFFFF;
}
.block2 {
    display: inline-block;
    vertical-align: top;
    padding: 33px;
    max-width: 360px;
}
.links {
    border: 2px solid #33008D;
    box-sizing: border-box;
    margin-top: 40px;
}
.links a {
    font-size: 16.2px;
    line-height: 163.35%;
    display: block;
    margin-left: 19px;
    color: #30233D;
 
}

.links :last-child{
    padding-bottom: 20px;
}

footer {
    background: linear-gradient(180deg, #003395 0%, #00205F 100%);
    margin-top: 80px;
    
}
.footernote {
    font-weight: 400;
    font-size: 11.7px;
    text-align: right;
    color: #FCFCFC;
    padding: 40px 90px 0 0;
}
