*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 870px;
    margin-left: 70px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}
h2 {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}
p {
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}
ul {
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
}
li {
    list-style-type: none;
}