*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1475px;
    margin-left: 70px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.body {
    display: flex;
    flex-direction: row;
}

main {
    flex-basis: 60%;
    max-width: 800px;
}

h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
}

.top img {
    padding-bottom: 90px;
}

.botton {
    padding-bottom: 30px;
}

.flex_box {
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.flex_box .round {
    max-width: 52px;
}

.flex_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.flex_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
}

.flex_3_middle {
    padding-top: 150px;
}

.flex_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}


.table {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.table_first {
    flex-direction: column;
}

.table p {
    padding: 30px 0;
}

.one {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.5);
}

.two {
    font-size: 44px;
    color: #545454;
}

.three {
    font-size: 35px;
    color: #545454;
}

.four {
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.five {
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.six {
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.seven {
    font-family: 'Arial';
    font-size: 12px;
    line-height: 150%;
    color: #B2B2B2;
}

.table_second {
    flex-direction: column;
}



.first_table {
    display: flex;
}

.second_table {
    display: flex;
}

aside {
    background: #5C5C5C;
    flex-basis: 30%;
    width: 750px;
    margin-left: 67px;
}

li {
    list-style-type: none;
}
.aside_top {
    display: flex;
    
}

.aside_top p:nth-child(0) {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
}

.aside_top p:nth-child(1) {
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.aside_top p:nth-child(2) {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.aside_top p:nth-child(3) {
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.5);
}

.aside_top p:nth-child(4) {
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.5);
}
